*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
ul{
	list-style: none;
}
li {
    list-style: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 1200px;
	margin: auto;
}
header{
	background-color: #FFF200;
	text-align: center;
    height: 44px;
}
/*---------------nav*/
nav{
	background-color: black;
}
nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li,a{
	color: white;
	font-size: 12px;
}
nav ul li:nth-child(2) a {
	color: #FFF200;
}
nav ul li:nth-child(2) i {
	color: #FFF200;
	font-size: 15px;
	margin-left: 6px;
}
nav ul li:nth-child(3){
	position: relative;
}
nav ul li:nth-child(3) input{
	height: 30px;
	width: 100%;
	border-radius: 5px;
	border: none;
	padding-left: 6px;
	outline: none;
}
nav ul li:nth-child(3) i {
	position: absolute;
	font-size: 15px;
	right: 12px;
	color: #333;
	line-height: 30px;
	cursor: pointer;
}
nav ul li:nth-child(4) button {
	height: 30px;
	padding: 0 12px;
	cursor: pointer;
	background-color: transparent;
	color: white;
	border: 1px solid rgb(70, 68, 68);
	border-radius: 5px;
	transition: all 0.3s ease;
}
nav ul li:nth-child(4) button i {
	margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
	background-color: rgb(100,97, 97);
}
nav ul li:nth-child(5) {
	text-align: center;
}
nav ul li:nth-child(5):hover a{
	color: #FFF200;
}
nav ul li:nth-child(6) a {
    color: #FFF200;
}
.btn-content {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFF200;
    display: block;
    float: left;
    margin-right: 8px;
}
.btn-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #FFF200;
    display: block;
    pointer-events: none;
    animation: btnani 1s linear infinite;
    display: block;
}
@keyframes btnani {
    from {
        opacity: 0.4;
    }
    to{
        transform: scale(3);
        opacity: 0;
    }
}
nav ul li:nth-child(7):hover a {
    color:#FFF200
}
nav ul li:nth-child(8):hover a {
    color: #FFF200
}
nav ul li:nth-child(9):hover a {
    color: #FFF200
}
/*------footer--------*/
footer .container1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  footer .container1 .noi-dung {
    margin-left: 40px;
  }
  footer .container1 .noi-dung.about {
    width: 30%;
  }
  footer .container1 .noi-dung.about h3 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  footer .container1 .noi-dung.about h3:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
  }
  footer .container1 .noi-dung.about p {
    color: #999;
  }
  .social-icon {
    margin-top: 20px;
    display: flex;
  }
  .social-icon li {
    list-style: none;
  }
  .social-icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .social-icon li a:hover {
    background: #f00;
  }
  .social-icon li a .fa {
    color: #fff;
    font-size: 20px;
  }
  .links h3 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .links h3::before {
    bottom: -5px;
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
  }
  .links {
    position: relative;
    width: 25%;
  }
  .links ul li {
    list-style: none;
  }
  .links ul li a {
    color: #999;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 18px;
  }
  .links ul li a:hover {
    color: #fff;
  }
  .contact h3 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .contact h3::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
  }
  .contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
  }
  .contact .info {
    position: relative;
  }
  .contact .info li {
    display: flex;
    margin-bottom: 16px;
  }
  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  .contact .info li span {
    color: #999;
  }
  .contact .info li a {
    color: #999;
    text-decoration: none;
  }
  .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top: 16px;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
  .btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 8px 24px;
  }
  .btn--primary:hover {
    background: #f00;
  }
  .btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
  }
  .form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
  }



/*------footer--------*/
.menu-bar {
    background-color: #FED100;
}
.menu-bar ul {
    display: flex;
    justify-content: space-between;    
}
.menu-bar ul li a{
    color: black;
    font-size: 16px;
}
.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar-content > ul > li {
     padding: 12px 6px;
     transition: all 0.3s ease;
}
.menu-bar ul li:hover {
    background-color: white;
}
.menu-bar-content > ul > li:nth-child(9){
    position: relative;
}
.menu-bar-content > ul > li:nth-child(9)::before{
    position: absolute;
    content: "Giảm 3%";
    display: block;
    height: 15px;
    width: 45px;
    background-color: #F51212;
    border-radius: 5px;
    right: -25px;
    top: 1px;
    font-size: 10px;
    padding-left: 3px;
    color: #fff;
}
.menu-bar-content > ul > li:nth-child(9)::after {
     position: absolute;
     content: "";
     background-color: #F51212;
     height: 7px;
     width: 7px;
     display: block;
     top: 11px;
     right: 10px;
     z-index: 2;
     transform: rotate(45deg);
}
/*------------address form--------*/
.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    display: none;
    z-index: 999;
}
.address-form-content {
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
}
.address-form-content form {
    padding: 12px 40px;
}
.address-form-content h2 {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.address-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: black;
    border-radius:5px;
}
.address-form-content form p {
    font-size: 16px;
}
.address-form-content form input, select{
    height: 40px;
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.address-form-content form button {
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #e5b60e;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}
/*-------submenu-------*/
.menu-bar-content ul li {
    position: relative;
}
.submenu {
    position: absolute;
    background-color: #ddd;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}
.submenu ul {
    display: flex;
    flex-direction: column;
}
.submenu ul li {
    padding: 6px 0;
}
.menu-bar-content ul li:hover .submenu{
    display: block;
}
.submenu ul li:hover a {
    color: #234dc7;
}
.submenu ul li:hover {
    background: none;
}
/*-------------slider------*/
.slider {
    padding: 20px 0;
    height: 350px;
}
.slider-content {
    display: flex;
    justify-content: space-between;
}
.slider-content-left {
    width: 65%;

}
.slider-content-left-top {
    width: 100%;
    height: 300px;
    position: relative;
    transition: all 0.3s ease;
}
/*.slider-content-left-top:hover i {
    opacity: 1;
}*/
.slider-content-left-top img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.slider-content-left-bottom {
    padding-top: 45px;
    display: inline-block;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
}
.slider-content-left-bottom li {     
     display: inline-block;
     width: 23%;
     text-align: center;
     cursor: pointer;
     padding: 5px 0;
     height: 100%;
     line-height: 38px;
     border-top: 4px solid white;
     border-bottom: 4px solid white;
}
.slider-content-left-bottom li::before {
      display: inline-block;
      content: "";
      position: absolute;
      height: 70%;
      width: 1px;
      background-color: #ddd;
      right: 0;
}
.slider-content-left-bottom li.active {
      border-top: 4px solid #ffb602;
      font-weight: bold;     
}
.slider-content-right {
    width: 380px;
    display: inline-block;
    flex-wrap: wrap;
    padding: 0 10px;
}
.slider-content-right li {
     float: left;
     width: 50%;
     height: 50%;
     
}
.slider-content-right li img {
      height: 170px;
      width: 170px;
}
.slider-content-left-top-btn {
    position:absolute;
    top: 50%; 
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #efecec;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}
/*---------slider js------*/
.slider-content-left-top img {
    position: absolute;
}
.slider-content-left-top a:nth-child(2) img {
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img {
    transform: translateX(400%);
}
.slider-content-left-top-container {
    position: relative;
    overflow: hidden;
}
.slider-content-left-top-container:hover i {
    opacity: 1;
}
/*----------------banner-one--------*/
.banner-one {
    margin-top: 40px;
    margin-bottom: 20px;
}
/*------------slider-product---------*/
.slider-product-one-content {
    background-color: #FED100;
    padding: 0;
}
.slider-product-one-content-title {
    padding: 0 12px;
}
.slider-product-one-content-title h2 {
    font-style: italic;
    padding: 12px 0;
}
.slider-product-one-content-items {
    display: flex;
    justify-content: space-evenly;
}
.slider-product-one-content-item img:hover {
    transform: translateY(-20px);
}
.slider-product-one-content-item {
    width: 19%;
    background-color: white;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
}
.slider-product-one-content-item > img {
    width: 100%;
    transition: all 0.5s ease;
}
.slider-product-one-content-item-text {
    padding-top: 20px;
}
.slider-product-one-content-item-text li {
    margin-bottom: 6px;
}
.slider-product-one-content-item-text li:first-child {
    height: 30px;
    width: 70%;
    background-color: #DE1C05;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}
.slider-product-one-content-item-text li:first-child p {
    color: white;
    font-size: 12px;
}
.slider-product-one-content-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
.slider-product-one-content-item-text li:nth-child(2):hover {
    color: #234dc7;
} 
.slider-product-one-content-item-text li:nth-child(3) a {
    text-decoration : line-through;
    color: #333;
	
}
.slider-product-one-content-item-text li:nth-child(4) {
    font-weight: bold;
} 
.slider-product-one-content-item-text li:last-child i {
    color: #FB6E2E;
}
/*------------slider-product-one-content-container---------------*/
.slider-product-one-content-container {
    position: relative;
    overflow: hidden;
}
.slider-product-one-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-product-one-content-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #efecec;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slider-product-one-content-items-content {
    position: relative;
    height: 540px;
    transition: all 0.3s ease;
}
.slider-product-one-content-items {
    position: absolute;
}
.slider-product-one-content-items:nth-child(2) {
    transform: translateX(100%);
}
.slider-product-one-content-items:nth-child(3) {
    transform: translateX(200%);
}
.slider-product-one-content-items:nth-child(4) {
    transform: translateX(300%);
}
.slider-product-one-content-items:nth-child(5) {
    transform: translateX(400%);
}
/*------------product-gallery----------*/
.product-gallery-one-content-product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-gallery-one-content-product-item {
    width: 20%;
    padding: 50px 12px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.product-gallery-one-content-product-item:hover {
    box-shadow: 3px 3px 5px #ddd;
}
.product-gallery-one-content-product-item:hover > img {
    transform: translateY(-20px);
}
.product-gallery-one-content-product-item > img {
    width: 100%;
    transition: all 0.3s ease;
}
.product-gallery-one-content-product-item-text {
    padding-top: 20px;
}
.product-gallery-one-content-product-item-text li {
    margin-bottom: 6px;
}
.product-gallery-one-content-product-item-text li:first-child:hover {
    color: #234dc7;
} 
.product-gallery-one-content-product-item-text li:nth-child(2) a {
    text-decoration : line-through;
    color: #333;
}
.product-gallery-one-content-product-item-text li:nth-child(3) {
    font-weight: bold;
} 
.product-gallery-one-content-product-item-text li:last-child i {
    color: #FB6E2E;
}
.product-gallery-one {
    margin-top: 30px;
}
.product-gallery-one-content-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.product-gallery-one-content-title h2 {
    color: #333333;
    font: 24px Arial;
}
.product-gallery-one-content-title ul li a {
    color: #333;
    font-size: 13px;
    transition: all 0.3s ease;
}
.product-gallery-one-content-title ul {
    display: flex;
}
.product-gallery-one-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.product-gallery-one-content-title ul li:hover a {
    color: slateblue;
}
/*-----------box-common-----------*/
.box-common-content {    
    padding: 0;
}
.box-common-content-title {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box-common-content-title h2 {
     float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    width: 32%
}
.box-common-content-title ul li a {
    color: #333;
    font-size: 13px;
    transition: all 0.3s ease;
}
.box-common-content-title ul {
    display: flex;
}
.box-common-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.box-common-content-title ul li:hover a {
    color: slateblue;
}
.box-common-content-link-items {
    display: flex;
    justify-content: space-between;
}
.box-common-content-link-item:hover > img {
    transform: translateY(-20px);
}
.box-common-content-link-item {
    width: 20%;
    background-color: white;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}
.box-common-content-link-item:hover {
    box-shadow: 3px 3px 5px #ddd;
}
.box-common-content-link-item > img {
    width: 100%;
    transition: all 0.5s ease;
}
.box-common-content-link-item-text {
    padding-top: 20px;
}
.box-common-content-link-item-text li {
    margin-bottom: 6px;
}
.box-common-content-link-item-text li:first-child {
    height: 30px;
    width: 70%;    
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}
.box-common-content-link-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
.box-common-content-link-item-text li:first-child:hover {
    color: #234dc7;
}
.box-common-content-link-item-text li:nth-child(2) a {
    text-decoration: line-through;
    color: #333;
}
.box-common-content-link-item-text li:nth-child(3) a {
    text-decoration : line-through;
    color: #333;
}
.box-common-content-link-item-text li:nth-child(4) {
    font-weight: bold;
} 
.box-common-content-link-item-text li:last-child i {
    color: #FB6E2E;
}
/*--------box-common-content-container--------*/
.box-common-content-container {
    position: relative;
    overflow: hidden;
}
.box-common-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box-common-content-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #efecec;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.box-common-content-link {
    position: relative;
    height: 540px;
    transition: all 0.3s ease;
}
.box-common-content-link-items {
    position: absolute;
}
.box-common-content-link-items:nth-child(2) {
    transform: translateX(100%);
}
.box-common-content-link-items:nth-child(3) {
    transform: translateX(200%);
}
.box-common-content-link-items:nth-child(4) {
    transform: translateX(300%);
}
.box-common-content-link-items:nth-child(5) {
    transform: translateX(400%);
}
/*-----------box-common-one----------*/
.box-common-one-content {    
    padding: 0;
}
.box-common-one-content-title {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.box-common-one-content-title h2 {
     float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    width: 32%
}
.box-common-one-content-title ul li a {
    color: #333;
    font-size: 13px;
    transition: all 0.3s ease;
}
.box-common-one-content-title ul {
    display: flex;
}
.box-common-one-content-title ul li {
    padding: 6px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
    border-radius: 40px;
}
.box-common-one-content-title ul li:hover a {
    color: slateblue;
}
.box-common-one-content-link-items {
    display: flex;
    justify-content: space-between;
}
.box-common-one-content-link-item:hover > img {
    transform: translateY(-20px);
}
.box-common-one-content-link-item {
    width: 20%;
    background-color: white;
    padding: 50px 12px 50px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}
.box-common-one-content-link-item:hover {
    box-shadow: 3px 3px 5px #ddd;
}
.box-common-one-content-link-item > img {
    width: 100%;
    transition: all 0.5s ease;
}
.box-common-one-content-link-item-text {
    padding-top: 20px;
}
.box-common-one-content-link-item-text li {
    margin-bottom: 6px;
}
.box-common-one-content-link-item-text li:first-child {
    height: 30px;
    width: 70%;    
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}
.box-common-one-content-link-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
.box-common-one-content-link-item-text li:first-child:hover {
    color: #234dc7;
}
.box-common-one-content-link-item-text li:nth-child(2) a {
    text-decoration: line-through;
    color: #333;
}
.box-common-one-content-link-item-text li:nth-child(3) a {
    text-decoration : line-through;
    color: #333;
}
.box-common-one-content-link-item-text li:nth-child(4) {
    font-weight: bold;
} 
.box-common-one-content-link-item-text li:last-child i {
    color: #FB6E2E;
}
/*--------box-common-one-content-container--------*/
.box-common-one-content-container {
    position: relative;
    overflow: hidden;
}
.box-common-one-content-btn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box-common-one-content-btn i {
    color: #333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: #efecec;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.box-common-one-content-link {
    position: relative;
    height: 540px;
    transition: all 0.3s ease;
}
.box-common-one-content-link-items {
    position: absolute;
}
.box-common-one-content-link-items:nth-child(2) {
    transform: translateX(100%);
}
.box-common-one-content-link-items:nth-child(3) {
    transform: translateX(200%);
}
.box-common-one-content-link-items:nth-child(4) {
    transform: translateX(300%);
}
.box-common-one-content-link-items:nth-child(5) {
    transform: translateX(400%);
}
/*----------product-gallery-two-----------*/
.product-gallery-two {
    margin-top: 30px;
}
.product-gallery-two-content {
    display: flex;
    padding-right: 12px;
    background-color: #203E4E;
}
.product-gallery-two-content-right {
    width: 20%;
}
.product-gallery-two-content-right img {
    width: 100%;
}
.product-gallery-two-content-left {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.product-gallery-two-content-left-top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: #ddd;
}
.product-gallery-two-content-left-top li {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.product-gallery-two-content-left-top .active {
    background-color: white;
    color: #203E4E;
}
.product-gallery-two-content-left-top li:last-child {
    border: none;
}
.product-gallery-two-content-left-top li:last-child a {
    font-size: 16px;
}
.product-gallery-two-content-left-top li:last-child i {
    margin-left: 3px;
}
.product-gallery-two-content-left-bottom {
    background-color: white;
    display: flex;
    border-radius: 5px;    
}
.product-gallery-two-content-left-bottom-item {
    width: 25%;
    padding: 50px 20px 20px;
    border-right: 1px solid #ddd;
    cursor: pointer;    
}
.product-gallery-two-content-left-bottom-item:hover {
    box-shadow: 3px 3px 5px #ddd;
}
.product-gallery-two-content-left-bottom-item:hover > img {
    transform: translateY(-20px);
}
.product-gallery-two-content-left-bottom-item > img {
    width: 100%;
    transition: all 0.5s ease;
}
.product-gallery-two-content-left-bottom-item-text {
    padding-top: 20px;
}
.product-gallery-two-content-left-bottom-item-text li {
    margin-bottom: 6px;
}
.product-gallery-two-content-left-bottom-item-text li:first-child {
    height: 30px;
    width: 70%;    
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 40px;
}
.product-gallery-two-content-left-bottom-item-text li:first-child img {
    width: 30px;
    float: left;
    margin-right: 6px;
}
.product-gallery-two-content-left-bottom-item-text li:first-child:hover {
    color: #234dc7;
}
/*---------------*/
.text-center button {
    padding: 7px;
    background-color: rgba(44, 62, 80, 1.0);
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 5px;
}